* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
}

body {
  background-color: white;
  background-image: url("top.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* transition: 2s; */
  transition-duration: 3s;
  transition-timing-function:ease-in-out;
  transition-delay: 2s;

}

header {
  padding: 0.5em;
  margin-bottom: 2em;
  transition-duration: 3s;
  transition-delay: 2s;
  transition-timing-function: ease-in-out;
}

header h1 {
  color: white;
  font-size: 3em;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: inherit;
}

.left-panel ul li a {
  line-height: 1.5em;
  display: block;
  font-size: 20px;
  font-style: bold;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(200, 150, 0);
  text-align: center;
}

.right-panel ul {
  list-style-type: none;
}

.right-panel a {
  display: block;
  text-decoration: none;
  color: #FAEBD7;
}

.page-layout {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.left-panel {
  float: left;
}

/* Change the link color on hover */
.left-panel li a:hover {
  /* background-color: black; */
  background-color: purple;
  color: white;
}

.right-panel li a:hover {
  background-color: blue;
  color: white;

}

.header {
  background-color: gray;
  padding: 10px;
  text-align: center;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-link {
  color: #FAEBD7;
}

.footer-link {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  /* background-color: blue; */
}

.footer-link li {
  list-style: none;
  display: inline;
}

.footer-link a {
  color: #FAEBD7;
}

.right-panel {
  font-size: larger;
}

.homebackground .right-panel {
  color: rgb(500, 150, 100);
}

.right-panel p, h2 {
  color: white;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  transform-origin: top left;
  transition: transform 0.5s;
}

.profile:hover {
  transform: scale(1.5);
}

@media only screen and (min-width : 480px) {
    .card-4{
        display: none;
    }
}
@media (max-width: 575.98px) {
    #about{
        padding: 0 0.5rem 0 0.5rem;
    }
